[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
mysqlclient = "*"
celery = "*"
dj-database-url = "==2.3.0"
django-filter = "*"
djangorestframework = "*"
django-cors-headers = "*"
djoser = "*"
drf_nested_routers = "*"
django-redis = "*"
django-silk = "*"
django-templated-mail = "*"
django-rest-swagger = "*"
whitenoise = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.12.6"
